In [20]:
import mysql.connector

# create connection
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="passwd",
  database="shopdb"
)

# create cursor
mycursor = mydb.cursor()

In [ ]:
# execute SELECT query
mycursor.execute("SELECT * FROM membertb")

# fetch all rows
rows = mycursor.fetchall()

# print rows
for row in rows:
  print(row)
# mydb.close()  # db 연결 끊음

In [6]:
sql = """CREATE TABLE `membertbl` (
  `memberID` char(8) NOT NULL,
  `memberName` char(5) NOT NULL,
  `memberAddress` char(20) DEFAULT NULL,
  PRIMARY KEY (`memberID`)
) """

mycursor.execute(sql)  #  membertbl  생성

In [9]:
sql = """INSERT INTO `membertbl` VALUES
('Han','한주연','인천 남구 주안동'),
('Jee','지운이','서울 은평구 증산동'),
('Sang','상길이','경기 성남시 분당구');"""

mycursor.execute(sql)

In [ ]:
sql = "select * from membertbl"
mycursor.execute(sql)
# fetch all rows
rows = mycursor.fetchall()

# print rows
for row in rows:
  print(row)

In [11]:
mycursor.execute('commit')

In [13]:
import pandas as pd

In [41]:
df = pd.DataFrame(rows, columns=cols)

In [42]:
df

  memberID memberName memberAddress
0      Han        한주연     인천 남구 주안동
1      Jee        지운이    서울 은평구 증산동
2     Sang        상길이    경기 성남시 분당구

In [19]:
mydb.close()

In [37]:
sql = """SELECT  COLUMN_NAME
FROM    INFORMATION_SCHEMA.COLUMNS
WHERE   TABLE_NAME = 'membertbl';"""

mycursor.execute(sql)

In [38]:
columns = mycursor.fetchall()

In [39]:
cols = []
for col in columns:
    print(col)
    cols.append(col[0])

('memberID',)
('memberName',)
('memberAddress',)

In [40]:
cols

['memberID', 'memberName', 'memberAddress']